$primary-color: rgb(102, 183, 26);
$secondary-color: #0aceb1;
$text-color: #333333;
$container-width: 1200px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;